DATABASE_URL=postgresql://postgres:123@localhost:5432/orgDB
AUTH_SECRET=QCXvSBFEwkgJHKPBfQ6b9Y26BYHnWsa9
AUTH_GOOGLE_ID=189963123837-hd11h0bm70f1q9euuopshblm3ee0t92h.apps.googleusercontent.com
AUTH_GOOGLE_SECRET=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
NEXTAUTH_SECRET=QCXvSBFEwkgJHKPBfQ6b9Y26BYHnWsa9
